
header{
   padding: 60px;
  
}
.timer{
   margin:auto;

   text-align: center; 
}

.answer-area{
  display: flex;
  justify-content: center;
}

.question-area{
   margin:auto;
   text-align: center;
}

.start{
   height: 200px;
   position: relative;
}
.start-button{
   margin:0;
   position: absolute;
   top: 50%;
   left: 50%;
}
/*.button{
   flex-direction: column; 
}